/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('image.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Header Styles */
header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    text-align: center;
}

/* Navigation Header Styles */
nav h1 {
    margin: 0;
    font-size: 24px;
}

/* Main Content Styles */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container Styles */
.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

/* Audio Container Styles */
#audioContainer {
    margin: 20px 0;
    text-align: center;
}

/* Uploaded Audio Styles */
#uploadedAudio {
    max-width: 100%;
    display: block;
    margin: 0 auto 10px auto; /* Center the audio element and add margin at the bottom */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Genre Prediction Text Styles */
#genrePrediction {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
}

/* Button Styles */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* File Input Styles */
input[type="file"] {
    display: block;
    margin: 20px auto;
    font-size: 16px;
    padding: 10px;
    background-color: #444;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #0056b3;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 30px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    input[type="file"] {
        font-size: 14px;
    }
}